{% extends 'header.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mideturiesgo.css'%}">
    <title>Mide tu riesgo</title>
</head>

<body>
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>

    <!-- Encabezado de Titulo de la encuesta -->
    <div class="inicio">
        Bienvenido a nuestro evaluador de riesgo de negocio. Este formulario tiene como objetivo saber de las características de su empresa, de tal manera de mostrarle sus principales oportunidades para disminuir su riesgo de operación, de tal manera de proteger su patrimonio y transferir el riesgo no deseado.
        <div><br></div>
        Este formulario consta de 4 secciones, cada una personalizada en base a sus respuestas.
        <div><br></div>
        A continuación realizaremos una serie de preguntas que permitirá identificar estas oportunidades.
        <div><hr></div>
    </div>
    <form method="POST" class="siguiente" style="margin: 0">
        {% csrf_token %}
        {% for field in form_procesos_empresa.visible_fields %}
            {{ field.errors }}
        {% endfor %}
        <!-- Datos Generales de la empresa -->
        <div class="inicio">
            <b>P1.</b> Datos generales de la empresa
            <div><br></div>
            <div class="datos">
                <table>
                    <tbody>
                    <tr>
                        <td class="nombreCampo"><label for="razon_social">Razon Social</label></td>
                        <td class="campos">{{ form_perfil_empresa.razon_social_empresa }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="rut">Rut</label></td>
                        <td class="campos">{{ form_user.rut }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="experiencia">Antigüedad de la empresa (años)</label></td>
                        <td class="campos">{{ form_perfil_empresa.experiencia_empresa }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="direccion">Dirección</label></td>
                        <td class="campos">{{ form_user.address }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="comuna">Comuna</label></td>
                        <td class="campos">{{ form_perfil_empresa.comuna_empresa }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="ciudad">Ciudad</label></td>
                        <td class="campos">{{ form_perfil_empresa.ciudad_empresa }}</td>
                    </tr>
                    </tbody>
                </table>
                <div><br></div>
            </div>
            <div><hr></div>
        </div>

        <!-- Datos del representante de la empresa -->
        <div class="inicio">
            <b>P2.</b> Datos de contacto
            <div><br></div>
            <div class="datos">
                <table>
                    <tbody>
                    <tr>
                        <td class="nombreCampo"><label for="nombre">{{ form_perfil_empresa.nombre_representante.label }}</label></td>
                        <td class="campos">{{ form_perfil_empresa.nombre_representante }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="rut">Rut</label></td>
                        <td class="campos">{{ form_perfil_empresa.rut_representante }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="email">Correo electronico</label></td>
                        <td class="campos">{{ form_perfil_empresa.email_representante }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="telefono">Teléfono</label></td>
                        <td class="campos">{{ form_perfil_empresa.telefono_representante }}</td>
                    </tr>
                    </tbody>
                </table>
                <div><br></div>
            </div>
            <div><hr></div>
        </div>

        <!-- Ventas anuales de la empresa - Seleccion Multiple (Radio)-->
        <div class="inicio">
            <b>P3.</b> Ventas anuales de la empresa
            <div><br></div>
            {% for radio in form_perfil_empresa.ventas_anuales_empresa %}
                <div class="input-radio">
                    {% if radio.choice_label != "---------" %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                    {% endif %}
                </div>
            {% endfor %}
            <div><br></div>

            <div><hr></div>
        </div>

        <!-- Dotacion de la empresa -->
        <div class="inicio">
            <b>P4.</b> Indique la dotación de cada elemento que tiene la empresa a ser evaluada
            <div><br></div>
            <div class="datos">
                <table>
                    <tbody>
                    <tr>
                        <td class="nombreCampo"><label for="empContratados"></label>Cantidad de empleados contratados</td>
                        <td class="campos">{{ form_dotacion_empresa.cant_emp_contratados }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="empContratistas">Cantidad de empleados contratistas</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_emp_contratista }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="vehLivianos">Cantidad de vehículos comerciales livianos de la empresa</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_veh_empresa }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="vehContratistas">Cantidad de vehículos comerciales de contratistas</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_veh_contratista }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="vehPesados">Cantidad de vehículos comerciales pesados de la empresa</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_veh_empresa_pesado }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="vehPesadosContratistas">Cantidad de vehículos comerciales pesados de contratistas</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_veh_contratista_pesado }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="maqEmpresa">Cantidad de maquinaria pesada de la empresa</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_maq_pesada_empresa }}</td>
                    </tr>
                    <tr>
                        <td class="nombreCampo"><label for="maqContratista">Cantidad de maquinaria pesada de contratista</label></td>
                        <td class="campos">{{ form_dotacion_empresa.cant_maq_pesada_contratista }}</td>
                    </tr>
                    </tbody>
                </table>
                <div><br></div>
            </div>
            <div><hr></div>
        </div>

        <!-- Rubros de participacion de una empresa - Seleccion Multiple (Checkbox) -->
           <div class="inicio">
            <b>P5.</b> Indique el o los rubros en que participa la empresa
            <div><br></div>
            {% for rubro in form_procesos_empresa.procesos %}
                <div class="input-radio">
                    {{ rubro.tag }}
                    <label for="{{ rubro.id_for_label }}" class="unselectable">{{ rubro.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" value="Submit" id="next">→</button>
    </form>
    <div><br></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}