{% extends 'MideTuRiesgo/mideturiesgo-base.html' %}
{% load static %}

{% block head %}
    <title>Mide tu riesgo</title>
{% endblock %}
{% block content %}
    <form style="width: 100%" action="" method="post">
        {% csrf_token %}
        <div class="inicio">
            {% for error in form_mani_explosivos.errors %}
                {{ error }}
            {% endfor %}
            Por último realizaremos algunas preguntas sobre el manejo de riesgos en las actividades que realiza la empresa a ser evaluada.
            <div>
                <hr>
            </div>
        </div>
        <div id="explosivos" class="inicio">
            <b>P<c id="exp">{{cont|add:"1"}}</c>.</b> ¿En la empresa para su funcionamiento se utilizan y/o manipulan explosivos?
            <div>
                <br>
            </div>
            {% for explosivo in form_mani_explosivos.is_expo %}
                {% if "0" in explosivo.id_for_label %}
                    <div id="div_{{ explosivo.id_for_label }}" class="input-radio" onclick="displayExplosivos()">
                        {{ explosivo.tag }}
                        <label for="{{ explosivo.id_for_label }}" class="unselectable">{{ explosivo.choice_label }}</label>
                    </div>
                {% else %}
                    <div id="div_{{ explosivo.id_for_label }}" class="input-radio" onclick="hiddenExplosivos()">
                        {{ explosivo.tag }}
                        <label for="{{ explosivo.id_for_label }}" class="unselectable">{{ explosivo.choice_label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
            <div><br></div>
            <div><hr></div>
        </div>
        <div id="electricidad" class="inicio">
            <b>P<c id="ele">{{cont|add:"2"}}</c>.</b> ¿En la empresa para su funcionamiento se utilizan y/o manipulan cables de alta tensión y/o electricidad?
            <div><br></div>
            {% for electricidad in form_elect_emp.is_elec %}
                {% if "0" in electricidad.id_for_label %}
                    <div class="input-radio" onclick="displayElectricidad()">
                        {{ electricidad.tag }}
                        <label for="{{ electricidad.id_for_label }}" class="unselectable">{{ electricidad.choice_label }}</label>
                    </div>
                {% else %}
                    <div class="input-radio" onclick="hiddenElectricidad()">
                        {{ electricidad.tag }}
                        <label for="{{ electricidad.id_for_label }}" class="unselectable">{{ electricidad.choice_label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
            <div><br></div><div><hr></div>
        </div>
        <div id="sustancias" class="inicio">
            <b>P<c id="sus">{{cont|add:"3"}}</c>.</b> ¿En la empresa para su funcionamiento se transportan, custodia y/o manipulan corrosivos, inflamables, tóxicos, combustibles?
            <div><br></div>
            {% for sustancia in form_sust_emp.is_sust %}
                {% if "0" in sustancia.id_for_label %}
                    <div class="input-radio" onclick="displaySustancias()">
                        {{ sustancia.tag }}
                        <label for="{{ sustancia.id_for_label }}" class="unselectable">{{ sustancia.choice_label }}</label>
                    </div>
                {% else %}
                    <div class="input-radio" onclick="hiddenSustancias()">
                        {{ sustancia.tag }}
                        <label for="{{ sustancia.id_for_label }}" class="unselectable">{{ sustancia.choice_label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
            <div><br></div>
            <div><hr></div>
        </div>
        <div id="altura" class="inicio">
            <b>P<c id="alt">{{cont|add:"4"}}</c>.</b> ¿En la empresa para su funcionamiento se realizan trabajos en altura?
            <div><br></div>
            {% for altura in form_alt_emp.is_alt %}
                {% if "0" in altura.id_for_label %}
                    <div class="input-radio" onclick="displayAltura()">
                        {{ altura.tag }}
                        <label for="{{ altura.id_for_label }}" class="unselectable">{{ altura.choice_label }}</label>
                    </div>
                {% else %}
                    <div class="input-radio" onclick="hiddenAltura()">
                        {{ altura.tag }}
                        <label for="{{ altura.id_for_label }}" class="unselectable">{{ altura.choice_label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
            <div><hr></div>
        </div>

        <div style="text-align: center;" class="navButtons">
            <div class="boton">
                <input type="button" id="previous" onclick="history.go(-1)" value="Anterior">
            </div>
            <div class="boton">
                <button type="submit" value="Submit" id="resultado">Terminar</button>
            </div>
        </div>
        <div><br></div>
        </form>
        <div class="pagina">
            Página 4/4
        </div>
        <div><br></div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    {# Para Explosivos #}
    <script type="text/javascript">

        var checkbox = $('[id="id_is_expo_0"]');
        var num = document.getElementById('exp').innerHTML;
        var inspectorExp;
        if (checkbox.is(':checked'))
        {
            inspectorExp = 1;
            $('#explosivos').append('<div id="explosivosNext"><b>P'+num+'.1 .</b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto a la manipulación de explosivos\n' +
                    '                <div><br></div>\n' +
                    '                {% for tipoexp in form_mani_explosivos.tipos_exp %}\n'+
                        '                    <div class="input-radio">\n'+
                        '                        {{ tipoexp.tag }}\n'+
                        '                        <label for="{{ tipoexp.id_for_label }}" class="unselectable">{{ tipoexp.choice_label }}</label>\n'
                        +
                        '                    </div>\n'+
                        '                {% endfor %}\n' +
                    '                <div><br></div>\n' +
                    '                <div><hr></div>\n' +
                    '            </div>')
        }else
        {
            inspectorExp = 0;
        }

        function displayExplosivos() {

            if (inspectorExp < 1)
            {
                var num = document.getElementById('exp').innerHTML;
                console.log("SI");
                inspectorExp++;
                $('#explosivos').append('<div id="explosivosNext"><b>P'+num+'.1 </b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto a la manipulación de explosivos\n' +
                    '                <div><br></div>\n' +
                    '                {% for tipoexp in form_mani_explosivos.tipos_exp %}\n'+
                        '                    <div class="input-radio">\n'+
                        '                        {{ tipoexp.tag }}\n'+
                        '                        <label for="{{ tipoexp.id_for_label }}" class="unselectable">{{ tipoexp.choice_label }}</label>\n'
                        +
                        '                    </div>\n'+
                        '                {% endfor %}\n' +
                    '                <div><br></div>\n' +
                    '                <div><hr></div>\n' +
                    '            </div>')
            }
        }

        function hiddenExplosivos() {

            if (inspectorExp === 1)
            {
                console.log("NO");
                inspectorExp--;
                var parent = document.getElementById("explosivos");
                var child = document.getElementById("explosivosNext");
                parent.removeChild(child);
            }
        }

    </script>

    {# Para Electricidad #}
    <script type="text/javascript">

        var checkbox = $('[id="id_is_elec_0"]');
        var inspectorElec;
        var num = document.getElementById('ele').innerHTML;
        if (checkbox.is(':checked'))
        {
            inspectorElec = 1;
            $('#electricidad').append('<div id="electricidadNext"><b>P'+num+'.1 .</b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto a la MANIPULACIÓN DE ELECTRICIDAD\n' +
                '        <div><br></div>\n' +
                '        {% for tipoElec in form_elect_emp.tipos_elec %}\n'+
                    '            <div class="input-radio">\n'+
                    '                {{ tipoElec.tag }}\n'+
                    '                <label for="{{ tipoElec.id_for_label }}" class="unselectable">{{ tipoElec.choice_label }}</label>\n'
                    +
                    '            </div>\n'+
                    '        {% endfor %}\n' +
                '        <div><br></div><div><hr></div></div>')
        }else
        {
            inspectorElec = 0;
        }

        function displayElectricidad() {

            if (inspectorElec < 1)
            {
                console.log("SI");
                inspectorElec++;
                var num = document.getElementById('ele').innerHTML;
                $('#electricidad').append('<div id="electricidadNext"><b>P'+num+'.1 .</b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto a la MANIPULACIÓN DE ELECTRICIDAD\n' +
                    '        <div><br></div>\n' +
                    '        {% for tipoElec in form_elect_emp.tipos_elec %}\n'+
                        '            <div class="input-radio">\n'+
                        '                {{ tipoElec.tag }}\n'+
                        '                <label for="{{ tipoElec.id_for_label }}" class="unselectable">{{ tipoElec.choice_label }}</label>\n'
                        +
                        '            </div>\n'+
                        '        {% endfor %}\n' +
                    '        <div><br></div><div><hr></div></div>')
            }
        }

        function hiddenElectricidad() {

            if (inspectorElec === 1)
            {
                console.log("NO");
                inspectorElec--;
                var parent = document.getElementById("electricidad");
                var child = document.getElementById("electricidadNext");
                parent.removeChild(child);
            }
        }

    </script>

    {# Para Sustancias #}
    <script type="text/javascript">

        var checkbox = $('[id="id_is_sust_0"]');
        var inspectorSust;
        var num = document.getElementById('sus').innerHTML;
        if (checkbox.is(':checked'))
        {
            inspectorSust = 1;
            $('#sustancias').append('<div id="sustanciasNext"><b>P'+num+'.1 </b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto al TRANSPORTE DE SUSTANCIAS PELIGROSAS\n' +
                '        <div><br></div>\n' +
                '        {% for tipoSust in form_sust_emp.tipos_sust %}\n'+
                    '            <div class="input-radio">\n'+
                    '                {{ tipoSust.tag }}\n'+
                    '                <label for="{{ tipoSust.id_for_label }}" class="unselectable">{{ tipoSust.choice_label }}</label>\n'
                    +
                    '            </div>\n'+
                    '        {% endfor %}\n' +
                '        <div><br></div>\n' +
                '        <div><hr></div>\n' +
                '    </div>')
        }else
        {
            inspectorSust = 0;
        }

        function displaySustancias() {

            if (inspectorSust < 1)
            {
                console.log("SI");
                inspectorSust++;
                var num = document.getElementById('sus').innerHTML;
                $('#sustancias').append('<div id="sustanciasNext"><b>P'+num+'.1 </b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto al TRANSPORTE DE SUSTANCIAS PELIGROSAS\n' +
                    '        <div><br></div>\n' +
                    '        {% for tipoSust in form_sust_emp.tipos_sust %}\n'+
                        '            <div class="input-radio">\n'+
                        '                {{ tipoSust.tag }}\n'+
                        '                <label for="{{ tipoSust.id_for_label }}" class="unselectable">{{ tipoSust.choice_label }}</label>\n'
                        +
                        '            </div>\n'+
                        '        {% endfor %}\n' +
                    '        <div><br></div>\n' +
                    '        <div><hr></div>\n' +
                    '    </div>')
            }
        }

        function hiddenSustancias() {

            if (inspectorSust === 1)
            {
                console.log("NO");
                inspectorSust--;
                var parent = document.getElementById("sustancias");
                var child = document.getElementById("sustanciasNext");
                parent.removeChild(child);
            }
        }

    </script>

    {# Para Altura #}
    <script type="text/javascript">

        var checkbox = $('[id="id_is_alt_0"]');
        var inspectorAlt;
        var num = document.getElementById('alt').innerHTML;
        if (checkbox.is(':checked'))
        {
            inspectorAlt = 1;
            $('#altura').append('<div id="alturaNext"><b>P'+num+'.1 </b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto a los TRABAJOS EN ALTURA\n' +
                '        <div><br></div>\n' +
                '        {% for tipoAlt in form_alt_emp.tipos_alt %}\n'+
                    '            <div class="input-radio">\n'+
                    '                {{ tipoAlt.tag }}\n'+
                    '                <label for="{{ tipoAlt.id_for_label }}" class="unselectable">{{ tipoAlt.choice_label }}</label>\n'
                    +
                    '            </div>\n'+
                    '        {% endfor %}\n' +
                '        <div><br></div>\n' +
                '        <div><hr></div>\n' +
                '    </div>')
        }else
        {
            inspectorAlt = 0;
        }

        function displayAltura() {

            if (inspectorAlt < 1)
            {
                console.log("SI");
                inspectorAlt++;
                var num = document.getElementById('alt').innerHTML;
                $('#altura').append('<div id="alturaNext"><b>P'+num+'.1 </b> Indique todas las actividades que realiza la empresa para disminuir los riesgos con respecto a los TRABAJOS EN ALTURA\n' +
                    '        <div><br></div>\n' +
                    '        {% for tipoAlt in form_alt_emp.tipos_alt %}\n'+
                        '            <div class="input-radio">\n'+
                        '                {{ tipoAlt.tag }}\n'+
                        '                <label for="{{ tipoAlt.id_for_label }}" class="unselectable">{{ tipoAlt.choice_label }}</label>\n'
                        +
                        '            </div>\n'+
                        '        {% endfor %}\n' +
                    '        <div><br></div>\n' +
                    '        <div><hr></div>\n' +
                    '    </div>')
            }
        }

        function hiddenAltura() {

            if (inspectorAlt === 1)
            {
                console.log("NO");
                inspectorAlt--;
                var parent = document.getElementById("altura");
                var child = document.getElementById("alturaNext");
                parent.removeChild(child);
            }
        }

    </script>

{% endblock %}