{% extends 'header.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/test.css'%}">
    <title>Mide tu riesgo</title>
{% endblock %}
{% block content %}
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>
    <div class="inicio">
        Las siguientes preguntas están relacionadas con la implementación y manejo de riesgos de la empresa
        <div><hr></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="inicio">
            <b>P{{cont| add:"1"}}.</b> Indique todas las certificaciones con las que cuenta la empresa a ser evaluada
            <div><br></div>
            <div class="input-radio">
                {% for checkISO in form_cert_empresa.certificaciones %}
                    {{ checkISO.tag }}
                    <label for="{{ checkISO.id_for_label }}" class="unselectable">{{ checkISO.choice_label }}</label>
                {% endfor %}
            </div>
            <div><br></div>
            <div><hr></div>
        </div>
        <div class="inicio">
            <b>P{{cont|add:"2"}}.</b> Indique todos los elementos de manejo de riesgo con los que cuenta la empresa a ser evaluada
            <div><br></div>
            {% for manejo_riesgo in form_man_riesgo.opciones_manejo %}
                <div class="input-radio">
                    {{ manejo_riesgo.tag }}
                    <label for="{{ manejo_riesgo.id_for_label }}" class="unselectable">{{ manejo_riesgo.choice_label }}</label>
                </div>
            {% endfor %}
            <div><br></div>
            <div><hr></div>
        </div>

        <div class="inicio">
            <b>P{{cont|add:"3"}}.</b> La empresa cuenta con prevencionista de riesgos
            <div><br></div>
            {% for t_preven in form_preven_empresa.opciones_prevencionista_t %}
                <div class="input-radio">
                    {% if t_preven.choice_label != "---------" %}
                        {{ t_preven.tag }}
                        <label for="{{ t_preven.id_for_label }}" class="unselectable">{{ t_preven.choice_label }}</label>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="siguiente">
            <button type="submit" value="Submit" id="next">→</button>
        </div><div><br></div>
    </form>

    <script type="text/javascript">
        <!--
        function redirectTo(sUrl) {
            window.location = sUrl
        }
        //-->
    </script>
{% endblock %}