{% extends 'header.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/mideturiesgo.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mide tu riesgo</title>
  </head>
  <body>
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>
    <div class="inicio">
      ¡Muchas gracias por tomar el test, según lo respondido el grupo en el que su empresa se encuentra es:

      {{ color }} y por lo pronto se contactarán con usted para entregar mayor detalles.
      <div>
        <br>
      </div>
      <div class="containerimgs">
        {% if resultado == total %}
          <div id="triangulo" style="margin-bottom: -19px;"></div>
        {% elif resultado == minimo %}
          <div id="triangulo" style="margin-bottom: 379px;"></div>
        {% else %}
          <div id="triangulo" style="margin-bottom: {{res_fin}}px;"></div>
        {% endif %}
        <div id="rectangulo"></div>
      </div>
    </div>
    <div class="inicio">
      A continuación se darán a conocer los detalles por seccion en valores porcentuales respecto al riesgo potencial según la encuesta:
    </div>
    <div class ="bordes">
        {% for d in desgloce %}
          {% for a in d %}
            {{ a }}
        {% endfor %}
        %
        <br>
        {% endfor %}
    </div>
    <div class="inicio">
      Con el siguiente link puede descargar el reporte, en donde podrá ver el resumen de la encuenta respondida.
    </div>
    <div class="inicio">
      <a href="{% url 'pdfReport' %}">Descargar reporte en pdf</a>
    </div>
    <div>
      <hr>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}
