{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mide Tu Riesgo (Test)</title>
</head>
<body>
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>
    <div class="inicio">
        Bienvenido a nuestro evaluador de riesgo de negocio. Este formulario tiene como objetivo saber de las características de su empresa, de tal manera de mostrarle sus principales oportunidades para disminuir su riesgo de operación, de tal manera de proteger su patrimonio y transferir el riesgo no deseado.
        <div>
        <br>
        </div>
        Este formulario consta de 4 secciones, cada una personalizada en base a sus respuestas.
        <div>
        <br>
        </div>
        A continuación realizaremos una serie de preguntas que permitirá identificar estas oportunidades.
        <div>
        <hr>
        </div>
    </div>
    <div class="inicio" style="display:flex; align-items: start">
        <form method="POST">
            <span>
                <b>P1. </b>Datos del Contacto
            </span>

            <table>
                {% csrf_token %}{{ datos_personales.as_table }}
            </table>
            <hr>
            <span>
                <b>P2. </b>Datos del Contacto
            </span>
            <table>
                {% csrf_token %}{{ datos_empresa.as_table }}
            </table>

            <div class="inicio">
                <b>P3.</b> Ventas anuales de la empresa
                <div>
                    <br>
                </div>
                <div class="input-radio">
                    <input type="radio" id="minimo" name="ventas" value="minimo" required>
                    <label for="minimo" class="unselectable">De UF 0 a UF 2.400</label>
                </div>
                <div class="input-radio">
                    <input type="radio" id="intermedio" name="ventas" value="intermedio" required>
                    <label for="intermedio" class="unselectable">De UF 2.400 a UF 25.000</label>
                </div>
                <div class="input-radio">
                    <input type="radio" name="ventas" id="maximo" value="maximo" required>
                    <label for="maximo">De UF 25.000 a UF 100.000</label>
                </div>
                <div class="input-radio">
                    <input type="radio" name="ventas" id="mas" value="mas" required>
                    <label for="mas" class="unselectable">Más de UF 100.000</label>
                </div>
                <div>
                    <br>
                </div>
                <div>
                    <hr>
                </div>
            </div>
            <div class="inicio">
                <b>P5.</b> Indique el o los rubros en que participa la empresa
                <div>
                    <br>
                </div>
                <div class="input-radio">
                    <input type="checkbox" id="construccion" name="construccion" value="construccion" required>
                    <label for="construccion" class="unselectable">Construcción</label>
                </div>
                <div class="input-radio">
                    <input type="checkbox" id="manufactura" name="manufactura" value="manufactura" required>
                    <label for="manufactura" class="unselectable">Manufactura</label>
                </div>
                <div class="input-radio">
                    <input type="checkbox" name="transporte" id="transporte" value="transporte" required>
                    <label for="transporte" class="unselectable">Transporte terreste</label>
                </div>
                <div class="input-radio">
                    <input type="checkbox" name="servicio" id="servicio" value="servicio" required>
                    <label for="servicio" class="unselectable">Servicios generales</label>
                </div>
            </div>
            <button type="submit" value="Submit" id="next" style="width: 200px">→</button>
        </form>
    </div>

</body>
</html>

