{% extends 'header.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/mideturiesgo.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mide tu riesgo</title>
  </head>
  <body>
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>
    <div class="inicio">
      Las siguientes preguntas están relacionadas con la implementación y manejo de riesgos de la empresa
      <div>
        <hr>
      </div>
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <div class="inicio">
        <b>Pn.</b> Indique todas las certificaciones con las que cuenta la empresa a ser evaluada
        <div>
          <br>
        </div>
        <div class="input-radio">
          <input type="checkbox" id="iso9001" name="iso9001" value="iso9001" required>
          <label for="iso9001" class="unselectable">ISO 9.001</label>
        </div>
        <div class="input-radio">
          <input type="checkbox" id="iso14001" name="iso14001" value="iso14001" required>
          <label for="iso14001" class="unselectable">ISO 14.001</label>
        </div>
        <div class="input-radio">
          <input type="checkbox" name="ohsas18001" id="ohsas18001" value="ohsas18001" required>
          <label for="ohsas18001" class="unselectable">OHSAS 18.001</label>
        </div>
          <div>
            <br>
          </div>
        <div>
          <hr>
        </div>
      </div>

      <div class="inicio">
        <b>Pn.</b> Indique todos los elementos de manejo de riesgo con los que cuenta la empresa a ser evaluada
         <div>
          <br>
        </div>
        <div class="input-radio">
          <input type="checkbox" id="procedimiento" name="procedimiento" value="procedimiento" required>
          <label for="procedimiento" class="unselectable">Procedimiento de autocuidado, trabajo seguro, medidas preventivas y/o correctivas</label>
        </div>
        <div class="input-radio">
          <input type="checkbox" id="asesoria" name="asesoria" value="asesoria" required>
          <label for="asesoria" class="unselectable">Asesoría de mutualidades</label>
        </div>
        <div class="input-radio">
          <input type="checkbox" name="gerencia" id="gerencia" value="gerencia" required>
          <label for="gerencia" class="unselectable">Gerencia / Administración de riesgos (ISO 31.000:2009)</label>
        </div>
          <div>
            <br>
          </div>
        <div>
          <hr>
        </div>
      </div>

      <div class="inicio">
          <b>Pn.</b> La empresa cuenta con prevencionista de riesgos
          <div>
            <br>
          </div>
        <div class="input-radio">
          <input type="radio" id="tiempoCompleto" name="tiempo" value="tiempoCompleto" required>
          <label for="tiempoCompleto" class="unselectable">Tiempo completo</label>
        </div>
        <div class="input-radio">
          <input type="radio" id="tiempoParcial" name="tiempo" value="tiempoParcial" required>
          <label for="tiempoParcial" class="unselectable">Tiempo parcial o Part-time</label>
        </div>
        <div class="input-radio">
          <input type="radio" name="tiempo" id="proyectos" value="proyectos" required>
          <label for="proyectos">Para proyectos específicos</label>
        </div>
        <div class="input-radio">
          <input type="radio" name="tiempo" id="noTiene" value="noTiene" required>
          <label for="noTiene" class="unselectable">No cuenta con provencionista de riesgos</label>
        </div>
      </div>

      <div class="direccion">
        <form action="{% url 'pagina2' %}" class="anterior">
          <button type="submit" value="Submit" id="previous">←</button>
        </form>
        <form action="{% url 'pagina4' %}" class="siguiente">
          <button type="submit" value="Submit" id="next">→</button>
        </form>
      </div>
      <div>
        <br>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </form>
  </body>
</html>
{% endblock %}