{% extends 'MideTuRiesgo/mideturiesgo-base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="uk-container uk-container-expand" uk-height-viewport="expand" style="background: rgba(69,90,100,0.8);">
        <div class="uk-container" style="background: blue; padding: 20px">
            <p style="color: white">Las próximas preguntas son para saber qué actividades productivas realiza su empresa y así poder ofrecer un producto más personalizado</p>
        </div>

        <form action="" method="post">
        {% csrf_token %}
            <div class="uk-container" style="background: rgba(0,0,255, 0.7); padding: 20px; margin-top: 20px">
                <div class="inicio">

                    {% if construccion in procesos_empresa.procesos.all %}
                        <h3 style="color: white"><b>6.</b>Marque todas las actividades de CONSTRUCCION que realiza la empresa a ser evaluada</h3>
                        <div><br></div>
                        {% for construccion in form_construccion.construccion %}
                            <div class="input-radio">
                                {{ construccion.tag }}
                                <label for="{{ construccion.id_for_label }}" class="unselectable">{{ construccion.choice_label }}</label>
                            </div>
                        {% endfor %}
                        <div><br></div>
                        {% if manufactura in procesos_empresa.procesos.all %}
                            <h3 style="color: white"><b>7.</b> Marque todas las actividades de MANUFACTURA que realiza la empresa a ser evaluada</h3>
                            <div><br></div>
                            {% for manufactura in form_manufactura.manufactura %}
                                <div class="input-radio">
                                    {{ manufactura.tag }}
                                    <label for="{{ manufactura.id_for_label }}" class="unselectable">{{ manufactura.choice_label }}</label>
                                </div>
                            {% endfor %}
                            <div><br></div>
                            {% if transporte in procesos_empresa.procesos.all %}
                                <h3 style="color: white"><b>8.</b> Indique el tipo de cargas dentro del territorio nacional para TRANSPORTE TERRESTRE que realiza la empresa a ser evaluada</h3>
                                <div><br></div>
                                {% for transporte in form_transporte.transporte %}
                                    <div class="input-radio">
                                        {{ transporte.tag }}
                                        <label for="{{ transporte.id_for_label }}" class="unselectable">{{ transporte.choice_label }}</label>
                                    </div>
                                {% endfor %}
                                <div><br></div>
                        {% if servicio in procesos_empresa.procesos.all %}
                            <h3 style="color: white;"><b>9.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                            <div>
                                <br>
                            </div>
                            {% for servicios in form_servicio.servicios %}
                                <div class="input-radio">
                                {{ servicios.tag }}
                                <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                                </div>
                            {% endfor %}
                            <div>
                                <br>
                            </div>
                        {% endif %}
                            {% elif servicio in procesos_empresa.procesos.all %}
                                <h3 style="color: white"><b>8.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                                <div><br></div>
                                {% for servicios in form_servicio.servicios %}
                                    <div class="input-radio">
                                        {{ servicios.tag }}
                                        <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                                    </div>
                                {% endfor %}
                                <div><br></div>
                            {% endif %}
                        {% elif transporte in procesos_empresa.procesos.all %}
                            <h3 style="color: white;"><b>7.</b> Indique el tipo de cargas dentro del territorio nacional para TRANSPORTE TERRESTRE que realiza la empresa a ser evaluada</h3>
                            <div><br></div>
                            {% for transporte in form_transporte.transporte %}
                                <div class="input-radio">
                                    {{ transporte.tag }}
                                    <label for="{{ transporte.id_for_label }}" class="unselectable">{{ transporte.choice_label }}</label>
                                </div>
                            {% endfor %}
                            <div><br></div>
                            {% if servicio in procesos_empresa.procesos.all %}
                                <h3 style="color: white"><b>8.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                                <div><br></div>
                                {% for servicios in form_servicio.servicios %}
                                    <div class="input-radio">
                                        {{ servicios.tag }}
                                        <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                                    </div>
                                {% endfor %}
                                <div><br></div>
                            {% endif %}
                        {% elif servicio in procesos_empresa.procesos.all %}
                            <h3 style="color: white"><b>7.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                            <div><br></div>
                            {% for servicios in form_servicio.servicios %}
                                <div class="input-radio">
                                    {{ servicios.tag }}
                                    <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                                </div>
                            {% endfor %}
                            <div><br></div>
                        {% endif %}
                    {% elif manufactura in procesos_empresa.procesos.all %}
                        <h3 style="color: white"><b>6.</b>Marque todas las actividades de MANUFACTURA que realiza la empresa a ser evaluada</h3>
                        <div><br></div>
                    {% for manufactura in form_manufactura.manufactura %}
                        <div class="input-radio">
                            {{ manufactura.tag }}
                            <label for="{{ manufactura.id_for_label }}" class="unselectable">{{ manufactura.choice_label }}</label>
                        </div>
                    {% endfor %}
                <div>
                    <br>
                </div>
                {% if transporte in procesos_empresa.procesos.all %}
                    <h3 style="color: white"><b>7.</b> Indique el tipo de cargas dentro del territorio nacional para TRANSPORTE TERRESTRE que realiza la empresa a ser evaluada</h3>
                    <div>
                        <br>
                    </div>
                    {% for transporte in form_transporte.transporte %}
                        <div class="input-radio">
                            {{ transporte.tag }}
                            <label for="{{ transporte.id_for_label }}" class="unselectable">{{ transporte.choice_label }}</label>
                        </div>
                    {% endfor %}
                    <div>
                        <br>
                    </div>
                    {% if servicio in procesos_empresa.procesos.all %}
                        <h3 style="color: white"><b>8.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                        <div>
                            <br>
                        </div>
                        {% for servicios in form_servicio.servicios %}
                            <div class="input-radio">
                                {{ servicios.tag }}
                                <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                            </div>
                        {% endfor %}
                        <div>
                            <br>
                        </div>
                    {% endif %}
                {% elif servicio in procesos_empresa.procesos.all %}
                    <h3 style="color: white"><b>7.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                    <div>
                        <br>
                    </div>
                    {% for servicios in form_servicio.servicios %}
                        <div class="input-radio">
                            {{ servicios.tag }}
                            <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                        </div>
                    {% endfor %}
                    <div><br></div>
                {% endif %}
            {% elif transporte in procesos_empresa.procesos.all %}
                <h3 style="color: white;"><b>6.</b>Indique el tipo de cargas dentro del territorio nacional para TRANSPORTE TERRESTRE que realiza la empresa a ser evaluada</h3>
                    <div><br></div>
                    {% for transporte in form_transporte.transporte %}
                        <div class="input-radio">
                            {{ transporte.tag }}
                            <label for="{{ transporte.id_for_label }}" class="unselectable">{{ transporte.choice_label }}</label>
                        </div>
                    {% endfor %}
                <div><br></div>
                {% if servicio in procesos_empresa.procesos.all %}
                        <h3 style="color: white;"><b>7.</b> Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                        <div><br></div>
                        {% for servicios in form_servicio.servicios %}
                            <div class="input-radio">
                                {{ servicios.tag }}
                                <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                            </div>
                        {% endfor %}
                        <div><br></div>
                    {% endif %}
            {% elif servicio in procesos_empresa.procesos.all %}
                <h3 style="color: white"><b>6.</b>Indique todos los SERVICIOS GENERALES que realiza la empresa a ser evaluada</h3>
                <div><br></div>
                    {% for servicios in form_servicio.servicios %}
                        <div class="input-radio">
                            {{ servicios.tag }}
                            <label for="{{ servicios.id_for_label }}" class="unselectable">{{ servicios.choice_label }}</label>
                        </div>
                    {% endfor %}
                <div><br></div>
                </div>
            {% endif %}
            </div>

        <div class="uk-container">
            <div class="inicio" style="text-align: center">
                <div class="boton">
                    <input class="uk-button" type="button" id="previous" onclick="history.go(-1)" value="Anterior">
                </div>
                <div class="boton">
                    <button class="uk-button" type="submit" value="Submit" id="next">Siguiente</button>
                </div>
            </div>
        </div>

            <div class="pagina">
                Página 2/4
            </div>
            <div><br></div>
        </form>
{% endblock %}