{% extends 'header.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en" xmlns:cont>
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/test.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mide tu riesgo</title>
  </head>
  <body>
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>
    <form action="" method="post">
      {% csrf_token %}
      <div class="inicio">
        Por último realizaremos algunas preguntas sobre el manejo de riesgos en las actividades que realiza la empresa a ser evaluada.
        <div>
          <hr>
        </div>
      </div>

      <div id="explosivos">
        <b>P<c id="exp">{{cont|add:"1"}}</c>.</b> ¿En la empresa para su funcionamiento se utilizan y/o manipulan explosivos?
        <div>
          <br>
        </div>
        <div class="input-radio" onClick="displayExplosivos()">
          <input type="radio" id="explosi" name="explosi" value="explosi">
          <label for="explosi" class="unselectable">Sí</label>
        </div>
        <div class="input-radio" onclick="occultExplosivos()">
          <input type="radio" id="explono" name="explosi" value="explono">
          <label for="explono" class="unselectable">No</label>
        </div>
          <div>
            <br>
          </div>
        <div>
          <hr>
        </div>
      </div>

      <div id="electricidad">
        <b>P<c id="ele">{{cont|add:"2"}}</c>.</b> ¿En la empresa para su funcionamiento se utilizan y/o manipulan cables de alta tensión y/o electricidad?
        <div>
          <br>
        </div>
        <div class="input-radio" onClick="displayElectricidad()">
          <input type="radio" id="electrisi" name="electrisi" value="electrisi">
          <label for="electrisi" class="unselectable">Sí</label>
        </div>
        <div class="input-radio" onclick="occultElectricidad()">
          <input type="radio" id="electrino" name="electrisi" value="electrino">
          <label for="electrino" class="unselectable">No</label>
        </div>
          <div>
            <br>
          </div>
        <div>
          <hr>
        </div>
      </div>

      <div id="sustancias">
        <b>P<c id="sus">{{cont|add:"3"}}</c>.</b> ¿En la empresa para su funcionamiento se transportan, custodia y/o manipulan corrosivos, inflamables, tóxicos, combustibles?
        <div>
          <br>
        </div>
        <div class="input-radio" onClick="displaySustancias()">
          <input type="radio" id="sustansi" name="sustansi" value="sustansi">
          <label for="sustansi" class="unselectable">Sí</label>
        </div>
        <div class="input-radio" onclick="occultSustancias()">
          <input type="radio" id="sustano" name="sustansi" value="sustano">
          <label for="sustano" class="unselectable">No</label>
        </div>
          <div>
            <br>
          </div>
        <div>
          <hr>
        </div>
      </div>

      <div id="altura">
        <b>P<c id="alt">{{cont|add:"4"}}</c>.</b> ¿En la empresa para su funcionamiento se realizan trabajos en altura?
        <div>
          <br>
        </div>
        <div class="input-radio" onClick="displayAltura()">
          <input type="radio" id="alturasi" name="alturasi" value="alturasi">
          <label for="alturasi" class="unselectable">Sí</label>
        </div>
        <div class="input-radio" onclick="occultAltura()">
          <input type="radio" id="alturano" name="alturasi" value="alturano">
          <label for="alturano" class="unselectable">No</label>
        </div>
          <div>
            <br>
          </div>
        <div>
          <hr>
        </div>
      </div>

      <div class="siguiente">
        <button type="submit" value="Submit" id="next">Terminar</button>
      </div>
      <div>
        <br>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{% static 'js/mideturiesgo.js'%}"></script>
    </form>
  </body>
<script type="text/javascript">
<!--
function redirectTo(sUrl) {
window.location = sUrl
}
//-->
</script>
</html>

{% endblock %}