{% extends 'header.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mide tu riesgo</title>
  </head>
  <body>
    <div id="azul"></div>
    <div id="blanco"></div>
    <div id="plomo"></div>
    <div id="head"></div>
    <div class="inicio">
      Bienvenido a nuestro evaluador de riesgo de negocio. Este formulario tiene como objetivo saber de las características de su empresa, de tal manera de mostrarle sus principales oportunidades para disminuir su riesgo de operación, de tal manera de proteger su patrimonio y transferir el riesgo no deseado.
      <div>
        <br>
      </div>
      Este formulario consta de 4 secciones, cada una personalizada en base a sus respuestas.
      <div>
        <br>
      </div>
      A continuación realizaremos una serie de preguntas que permitirá identificar estas oportunidades.
      <div>
        <hr>
      </div>
    </div>

    <div class="inicio">
      <b>P1.</b> Datos de contacto
      <div>
        <br>
      </div>
      <div class="datos">
        <table>
          <tbody>
            <tr>
              <td class="nombreCampo">
                Nombre
              </td>
              <td class="campos">
                <input type="text" name="nombre" id="nombre">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Correo Electronico
              </td>
              <td class="campos">
                <input type="text" name="email" id="email">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Teléfono
              </td>
              <td class="campos">
                <input type="text" name="telefono" id="telefono">
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <br>
        </div>
      </div>
      <div>
        <hr>
      </div>
    </div>

    <div class="inicio">
      <b>P2.</b> Datos generales de la empresa
      <div>
        <br>
      </div>
      <div class="datos">
        <table>
          <tbody>
            <tr>
              <td class="nombreCampo">
                Razón Social
              </td>
              <td class="campos">
                <input type="text" name="razon" id="razon">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                RUT
              </td>
              <td class="campos">
                <input type="text" name="rut" id="rut">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Antigüedad de la empresa (años)
              </td>
              <td class="campos">
                <input type="text" name="experiencia" id="experiencia">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Dirección
              </td>
              <td class="campos">
                <input type="text" name="direccion" id="direccion">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Comuna
              </td>
              <td class="campos">
                <input type="text" name="comuna" id="comuna">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Ciudad
              </td>
              <td class="campos">
                <input type="text" name="ciudad" id="ciudad">
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <br>
        </div>
      </div>
      <div>
        <hr>
      </div>
    </div>

    <div class="inicio">
        <b>P3.</b> Ventas anuales de la empresa
        <div>
          <br>
        </div>
      <div class="input-radio">
        <input type="radio" id="minimo" name="ventas" value="minimo">
        <label for="minimo" class="unselectable">De UF 0 a UF 2.400</label>
      </div>
      <div class="input-radio">
        <input type="radio" id="intermedio" name="ventas" value="intermedio">
        <label for="intermedio" class="unselectable">De UF 2.400 a UF 25.000</label>
      </div>
      <div class="input-radio">
        <input type="radio" name="ventas" id="maximo" value="maximo">
        <label for="maximo">De UF 25.000 a UF 100.000</label>
      </div>
      <div class="input-radio">
        <input type="radio" name="ventas" id="mas" value="mas">
        <label for="mas" class="unselectable">Más de UF 100.000</label>
      </div>
    </div>

    <div class="inicio">
      <b>P4.</b> Indique la dotación de cada elemento que tiene la empresa a ser evaluada
      <div>
        <br>
      </div>
      <div class="datos">
        <table>
          <tbody>
            <tr>
              <td class="nombreCampo">
                Cantidad de empleados contratados
              </td>
              <td class="campos">
                <input type="text" name="empContratados" id="empContratados">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de empleados contratistas
              </td>
              <td class="campos">
                <input type="text" name="empContratistas" id="empContratistas">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de vehículos comerciales livianos de la empresa
              </td>
              <td class="campos">
                <input type="text" name="vehLivianos" id="vehLivianos">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de vehículos comerciales de contratistas
              </td>
              <td class="campos">
                <input type="text" name="vehContratistas" id="vehContratistas">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de vehículos comerciales pesados de la empresa
              </td>
              <td class="campos">
                <input type="text" name="vehPesados" id="vehPesados">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de vehículos comerciales pesados de contratistas
              </td>
              <td class="campos">
                <input type="text" name="vehPesadosContratistas" id="vehPesadosContratistas">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de maquinaria pesada de la empresa
              </td>
              <td class="campos">
                <input type="text" name="maqEmpresa" id="maqEmpresa">
              </td>
            </tr>
            <tr>
              <td class="nombreCampo">
                Cantidad de maquinaria pesada de contratista
              </td>
              <td class="campos">
                <input type="text" name="marContratista" id="marContratista">
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <br>
        </div>
      </div>
      <div>
        <hr>
      </div>
    </div>

    <div class="inicio">
        <b>P5.</b> Indique el o los rubros en que participa la empresa
        <div>
          <br>
        </div>
      <div class="input-radio">
        <input type="checkbox" id="construccion" name="construccion" value="construccion">
        <label for="construccion" class="unselectable">Construcción</label>
      </div>
      <div class="input-radio">
        <input type="checkbox" id="manufactura" name="manufactura" value="manufactura">
        <label for="manufactura" class="unselectable">Manufactura</label>
      </div>
      <div class="input-radio">
        <input type="checkbox" name="transporte" id="transporte" value="transporte">
        <label for="transporte" class="unselectable">Transporte terreste</label>
      </div>
      <div class="input-radio">
        <input type="checkbox" name="servicio" id="servicio" value="servicio">
        <label for="servicio" class="unselectable">Servicios generales</label>
      </div>
      <div class="input-radio">
        <input type="checkbox" name="otro" id="otro" value="otro">
        <label for="otro" class="unselectable">Otro (por favor especifique)</label>
        <br>
        <input type="text" name="opcion" class="campo" size="auto">
      </div>
    </div>
    <form method="post" action="/MideTuRiesgo/2/" class="siguiente">
      {% csrf_token %}
      {{ FormInicial }}
      <button type="submit" value="Submit" id="next">→</button>
    </form>
    <div>
      <br>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}