{% load static %}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    {# Version Mobile OK #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {# Uikit #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
    <title>Mideturiesgo</title>
</head>
<body>
<div class="uk-container uk-container-expand" uk-height-viewport="expand" style="background: blue">
    <div class="uk-position-center uk-animation-fade">
        <div align="center">
            <img src="{% static 'images/logo-gc-blanco.png' %}" alt="">
            <div style="margin-top: 100px">
                <div>
                    <article class="uk-flex-inline">
                        <figure style="vertical-align: middle">
                            <img src="{% static 'icons/error.svg' %}" style="height: 30px; width: 30px" alt="error">
                        </figure>
                        <span style="color: white; padding-left: 10px">Recuerda que solo tienes un intento para responder esta encuesta</span>
                    </article>
                </div>
                <div>
                    <article class="uk-flex-inline">
                        <figure style="vertical-align: middle">
                            <img src="{% static 'icons/operador.svg' %}" style="height: 30px; width: 30px" alt="error">
                        </figure>
                        <span style="color: white; padding-left: 10px">Para más información llamar al 600 600 9000</span>
                    </article>
                </div>
                <a class="uk-button" style="background: gray; color: white" href="{% url 'test' %}">Comencemos</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>