{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guiar Consultores</title>
    <script src="https://kit.fontawesome.com/a8e077e6ff.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top" style="padding-right: 15px">
        <div class="d-flex justify-content">
            <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>
            <img id="logo-top-img" src="{% static 'images/logoGC.png' %}">
        </div>
        <a id="title-MideTuRiesgo">
            <strong>mideturiesgo</strong>
            <a href="{% url 'home' %}" class="btn btn-primary">Comenzar</a>
        </a>
    </nav>
    <div class="d-flex toggled" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"></div>
          <div class="list-group list-group-flush">
            <a href="{% url '' %}#" class="list-group-item list-group-item-action bg-light">Inicio</a>
            <a href="{% url '' %}#empresa" class="list-group-item list-group-item-action bg-light">Empresa</a>
            <a href="{% url '' %}#servicios" class="list-group-item list-group-item-action bg-light">Servicios</a>
            <a href="{% url '' %}#alianzas" class="list-group-item list-group-item-action bg-light">Aseguradoras Aliadas</a>
            <a href="{% url 'login' %}" class="list-group-item list-group-item-action bg-light">mideturiesgo</a>
            <a href="{% url '' %}#contacto" class="list-group-item list-group-item-action bg-light">Contacto</a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="container-fluid" style="padding: 0;">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
    </script>

    {% block script %}
    {% endblock %}
</body>
</html>
