{% extends 'home/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">{% include 'home/carousel.html' %}</div>
    <div class="w-100"></div>
    <div id="container-section" class="col">
        <section id="empresa" style="background: blue; padding-left: 25px; padding-top: 50px; margin-left: 25px; margin-top: 50px; border-radius: 50px">
            - Copy y paste las demas secciones - crear CSS dedicado
            - Aplicar Responsive al Carousel
            - Aplicar opacity a las sections
            - preguntar si aplicamos gradiente al sidebar
            
            <img src="{% static 'images/img-test.jpg' %}" alt="img-not-found" style="height: 200px; width: 400px">
        </section>

        <section id="servicios" style="background: blue; padding-left: 25px; padding-top: 50px; margin-left: 25px; margin-top: 50px; border-radius: 50px">
            - Copy y paste las demas secciones - crear CSS dedicado
            - Aplicar Responsive al Carousel
            - Aplicar opacity a las sections
            - preguntar si aplicamos gradiente al sidebar
        </section>

        <section id="alianzas" style="background: blue; padding-left: 25px; padding-top: 50px; margin-left: 25px; margin-top: 50px; border-radius: 50px">
            - Copy y paste las demas secciones - crear CSS dedicado
            - Aplicar Responsive al Carousel
            - Aplicar opacity a las sections
            - preguntar si aplicamos gradiente al sidebar
        </section>


        <section id="contacto" style="background: blue; padding-left: 25px; padding-top: 50px; margin-left: 25px; margin-top: 50px; border-radius: 50px">
            - Copy y paste las demas secciones - crear CSS dedicado
            - Aplicar Responsive al Carousel
            - Aplicar opacity a las sections
            - preguntar si aplicamos gradiente al sidebar
        </section>

    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}


