{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/registration.css'%}">
{% endblock %}

{% block content %}
<style>
    .asteriskfield{
        display: none;
    }
</style>

<div class="center">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card2">
                {% if messages %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="card-body">
                    <font color="white">
                        <h2>Iniciar Sesión </h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <center><button type="submit" class="btn login_btn">Iniciar Sesión</button></center>
                        </form>
                    </font>
                    <div class="d-flex justify-content-center links">
                        ¿No tiene una cuenta?<a href="{% url 'signup'%}">Registrarse</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'reset_password' %}"> ¿Olvidó su contraseña? </a>
                    </div>
                </div>

                <div class="card-footer">
                    <div align="center">
                        <a href="{% url 'homeGC' %}"> Regresar </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}