{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>

    <title>Iniciar Sesión</title>

    <style>
        .asteriskfield{
            display: none;
        }
    </style>

</head>

<body>
<div class="uk-position-center">
    <div>
        <div class="uk-card custom-card uk-card-small uk-card-body">
            <div class="uk-card-media-top card-login" style="padding: 50px">
                <img src="{% static 'images/logoGC.png' %}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-text-center" style="color: white">Iniciar Sesión</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <center><button type="submit" class="uk-button login_btn">Iniciar Sesión</button></center>
                </form>

                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="uk-card-footer" style="background: rgb(144, 164, 174)">
                <div class="d-flex justify-content-center links">
                    ¿No tiene una cuenta?<a href="{% url 'signup'%}">Registrarse</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'reset_password' %}"> ¿Olvidó su contraseña? </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


