{% extends 'header.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/user_Home.css'%}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="./css/bootstrap.min.css" rel="stylesheet">
<link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link href="./css/font-awesome.min.css" rel="stylesheet">
<link href="./css/adminia-1.1.css" rel="stylesheet">
<link href="./css/adminia-1.1-responsive.css" rel="stylesheet">
<link href="./css/pages/plans.css" rel="stylesheet">

{% if user.is_authenticated %}

<body class="home">
<style>
    .asteriskfield{
        display: none;
    }
</style>
<div class="container-fluid display-table" style="height:100vh">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="navi">
                <ul>
                    <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Inicio</span></a></li>
                    <li><a href="{% url 'perfil' %}"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Perfil</span></a></li>
                    <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Resultados</span></a></li>
                    <li class="active" ><a href="{% url 'password_change' %}"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Cambiar Contraseña</span></a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Cerrar Sesión</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <div class="row">
                <div class="col-md-7">
                    <nav class="navbar-default pull-left">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
            <center>

                <h1>Configuración</h1>
                <br/>
                <form id="edit-profile" class="form-horizontal">
                    <fieldset>

                        <div class="w3-container">
                            <div class="w3-card-4" style="width:69%;">
                                <header class="w3-container w3-blue">
                                    <h3>Cambiar Contraseña</h3>
                                </header>
                                <div class="w3-container" >
                                    <div class="col-6">
                                        <p>
                                        <form method="post" >
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                        </form>
                                    </div>
                                    <p>
                                </div>
                                <footer class="w3-container w3-blue">
                                    <p>
                                </footer>
                            </div>
                        </div>

                        <br/>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Cambiar</button>
                        </div>
                    </fieldset>
                </form>
            </center>
        </div>
</body>
{% else %}

<meta http-equiv="REFRESH" content="0;url={% url 'MTRlogin' %}">

{% endif %}

{% endblock %}

