{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

    <link rel="stylesheet" href="{% static 'css/registration.css'%}">

    <div class="center" style="margin-top: 10%">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-body">
                        <font color="white">
                            <h3>Establecer nueva contraseña</h3>
                            {% if validlink %}
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <center><button type="submit" class="btn login_btn">Guardar</button></center>
                                </form>
                            {% else %}
                                <p style="color:red," >Token Inválido</p>
                                <p>
                                    <a href="{% url 'password_reset' %}">Solicitar nuevo token de reinicio de contraseña</a>
                                </p>
                            {% endif %}
                        </font>
                    </div>
                    <div class="card-footer">
                        <center><a href="{% url 'login' %}"> Ir a Inicio de Sesión </a></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
