{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registration.css'%}">
    <div class="center">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-body">
                        <font color="white">
                            <h3>Recuperar Contraseña</h3>
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                    <p>Se ha enviado un correo electrónico para reiniciar su contraseña.</p>
                                    <p>Si no lo ha recibido, por favor, revise el spam. </p>
                            </form>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}