{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
{% endblock %}

{% block content %}

    <div class="center" style="margin-top: 10%">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-body">
                        <font color="white">
                            <h3>Cambiar Contraseña</h3>
                            <p style="color:white;">Contraseña cambiada con éxito</p>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}