{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
    <div class="center">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-body">
                        <font color="white">
                            <h2>Cambiar Contraseña</h2>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <center><button type="submit" class="btn login_btn">Enviar</button></center>
                            </form>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
