{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
{% endblock %}

{% block content %}

    <div class="center">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-body">
                        <font color="white">
                            <h3>Contraseña cambiada con exito</h3>
                            <p>Ahora puedes <a href="{% url 'MTRlogin' %}">Iniciar Sesión</a> nuevamente</p>

                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}