{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/a8e077e6ff.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>

    <title>Registrarse</title>
</head>

<body>
<div class="uk-container uk-container-expand" style="background-image: url('{% static 'images/img_carousel/carousel-1.jpg' %}'); background-size: cover; background-repeat: round" uk-height-viewport="expand: true">
    <div class="uk-position-center">
        <div class="uk-card custom-card uk-card-small uk-card-body" style="margin-top: 230px">
            <div class="uk-card-media-top card-login" style="padding: 50px">
                <img src="{% static 'images/logoGC.png' %}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-text-center" style="color: white;">Registrarse</h3>
                {% for message in messages %}
                <div class="uk-alert-{{ message.tags }}" style="padding: 10px; margin-bottom: 5px" role="alert">
                    <p style="margin-bottom: 0"><i style="margin-right: 5px" class="fas fa-exclamation-triangle"></i>{{ message }}</p>
                </div>
                {% endfor %}
                <form method="post">
                    {% csrf_token  %}
                    <div class="control-group">
                        <label class="control-label" for="rut">RUT de la Empresa</label>
                        <div class="controls">
                            <input name="rut" type="text" class="uk-input" id="rut" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="name">Nombre de la Empresa</label>
                        <div class="controls">
                            <input name="name" type="text" class="uk-input" id="name" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="address">Dirección de la Empresa</label>
                        <div class="controls">
                            <input name="address" type="text" class="uk-input" id="address" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="nombre_representante">Nombre del Contacto</label>
                        <div class="controls">
                            <input name="nombre_representante" type="text" class="uk-input" id="nombre_representante" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="rut_representante">RUT del Contacto</label>
                        <div class="controls">
                            <input name="rut_representante" type="text" class="uk-input" id="rut_representante" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="email_representante">Email del Contacto</label>
                        <div class="controls">
                            <input name="email_representante" type="text" class="uk-input" id="email_representante" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="telefono_representante">Número de Celular del Contacto</label>
                        <div class="controls">
                            <input name="telefono_representante" type="text" class="uk-input" id="telefono_representante" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="password1">Contraseña</label>
                        <div class="controls">
                            <input name="password1" type="password" class="uk-input" id="password1" value="">
                        </div>
                    </div>
                    <p>

                    <div class="control-group">
                        <label class="control-label" for="password2">Repita Contraseña (Confirmación)</label>
                        <div class="controls">
                            <input name="password2" type="password" class="uk-input" id="password2" value="">
                        </div>
                    </div>
                    <p>
                    <div class="control-group uk-text-center">
                        <button type="submit" class="uk-button login_btn">Crear Cuenta</button>
                    </div>

                </form>
            </div>
            <div class="uk-card-footer">
                <div align="center">
                    <a class="uk-button btn-gc-blue" href="{% url 'MTRlogin' %}"> Regresar </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>