<html>
    <head>
        <meta charset="utf-8" >
        <title>{% block tittle %}{% endblock %} </title>
    </head>
    <body>
        <h1>Mide Tu Riesgo</h1>
        <a href="{% url 'home' %}"> Página de Inicio </a> /
        {% if user.is_authenticated %}
            <a href="{% url 'password_change' %}">Cambiar Password </a>/
            <a href="{% url 'logout' %}"> Cerrar Sesión </a> /
            <strong>Has iniciado sesión como {{ user.username }}</strong>
        {% else %}
            <a href="{% url 'signup' %}"> Crear Cuenta </a> /
            <a href="{% url 'login' %}"> Iniciar Sesión </a>
        {% endif %}
        <hr>
        {% block content %}

        {% endblock %}
    </body>
</html>