{% extends 'header.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/user_Home.css'%}">
<link rel="stylesheet" href="{% static 'css/registration.css'%}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="./css/bootstrap.min.css" rel="stylesheet">
<link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link href="./css/font-awesome.min.css" rel="stylesheet">
<link href="./css/adminia-1.1.css" rel="stylesheet">
<link href="./css/adminia-1.1-responsive.css" rel="stylesheet">
<link href="./css/pages/plans.css" rel="stylesheet">

{% if user.is_authenticated %}

<body class="home">
<div class="container-fluid display-table" style="height:100vh">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="navi">
                <ul>
                    <li class="active"><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Inicio</span></a></li>
                    <li><a href="{% url 'perfil' %}"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Perfil</span></a></li>
                    <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Resultados</span></a></li>
                    <li><a href="{% url 'password_change' %}"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Cambiar Contraseña</span></a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Cerrar Sesión</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <div class="row">
                <div class="col-md-7">
                    <nav class="navbar-default pull-left">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
            <center>
                <h1>Perfil de Usuario</h1>
                <br/>

                <form id="edit-profile" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <div class="w3-container">
                            <div class="w3-card-4" style="width:69%;">
                                <header class="w3-container w3-blue">
                                    <h3>Datos de Contacto de la Empresa</h3>
                                </header>

                                <div class="w3-container" >
                                    <p>
                                    <div class="control-group">
                                        <label class="control-label" for="nombre_representante">Nombre del Contacto</label>
                                        <div class="controls">
                                            <input name="nombre_representante" type="text" class="input-medium disabled" id="nombre_representante" value={{ Obj_empresa.nombre_representante }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="email_representante">Email del Contacto</label>
                                        <div class="controls">
                                            <input name="email_representante" type="text" class="input-large" id="email_representante" value={{ Obj_empresa.email_representante }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="numero_representante">Teléfono del Contacto</label>
                                        <div class="controls">
                                            <input name="telefono_representante" type="text" class="input-large" id="numero_representante" value={{ Obj_empresa.telefono_representante }}>
                                        </div>
                                    </div>

                                    <p>
                                </div>
                                <footer class="w3-container w3-blue">
                                    <p>
                                </footer>
                            </div>
                        </div>

                        <br/>

                        <div class="w3-container">
                            <div class="w3-card-4" style="width:69%;">
                                <header class="w3-container w3-blue">
                                    <h3>Información General de la Empresa</h3>
                                </header>

                                <div class="w3-container" >
                                    <p>
                                    <div class="control-group">
                                        <label class="control-label" for="rut">Rut de Empresa</label>
                                        <div class="controls">
                                            <input type="text" class="input-medium disabled" id="rut" value={{ request.user.rut }} disabled>
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="control-group">
                                        <label class="control-label" for="rut">Nombre de la Empresa</label>
                                        <div class="controls">
                                            <input type="text" class="input-medium disabled" id="nombre_empresa" value={{ request.user.name }}>
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="control-group">
                                        <label class="control-label" for="experiencia_empresa">Años de Experiencia</label>
                                        <div class="controls">
                                            <input name="experiencia_empresa" type="text" class="input-medium disabled" id="experiencia_empresa" value={{ Obj_empresa.experiencia_empresa }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="razon_social_empresa">Razón Social de la Empresa</label>
                                        <div class="controls">
                                            <input name="razon_social_empresa" type="text" class="input-medium disabled" id="razon_social_empresa" value={{ Obj_empresa.razon_social_empresa }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="ventas_anuales_empresa">Ventas Anuales de la Empresa</label>
                                        <div class="controls">
                                            <input name="ventas_anuales_empresa" type="text" class="input-medium disabled" id="ventas_anuales_empresa" value={{ Obj_empresa.ventas_anuales_empresa }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="address">Dirección de la Empresa</label>
                                        <div class="controls">
                                            <input type="text" class="input-medium" id="address" value={{ request.user.address }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="comuna_empresa">Comuna</label>
                                        <div class="controls">
                                            <input name="comuna_empresa" type="text" class="input-medium" id="comuna_empresa" value={{ Obj_empresa.comuna_empresa }}>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="ciudad_empresa">Ciudad</label>
                                        <div class="controls">
                                            <input name="ciudad_empresa" type="text" class="input-medium" id="ciudad_empresa" value={{ Obj_empresa.ciudad_empresa }}>
                                        </div>
                                    </div>
                                    <p>
                                </div>
                                <footer class="w3-container w3-blue">
                                    <p>
                                </footer>
                            </div>
                        </div>

                        <br/>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </fieldset>

                </form>
            </center>
        </div>
    </div>
</div>
</body>
{% else %}

<meta http-equiv="REFRESH" content="0;url={% url 'login' %}">

{% endif %}

{% endblock %}

