.navbar{
    background: blue !important;
    border-radius: 0!important;
}

.panel-gc{
    margin-top: 20px; margin-left: 0; margin-right: 0
}

.container-gc-large{
    height: auto; background: rgba(144, 164, 174, 0.7); padding-bottom: 30px;
    margin-top: 30px;
}

.panel-card{
    padding-right: 30px;
    padding-left: 30px;
}

.container-grid-gc{
    background: rgba(25,25,112, 0.2);padding: 30px;
}

div > label{
    text-align: left;
}

body{
    background-size: cover;
    background: no-repeat;
    padding-bottom: 30px
}

.title-gc{
    padding: 30px;
}

.btn-gc-blue{
    background: blue !important;
    color: white !important;
    margin-top: 20px
}

.btn-gc-blue:hover{
    background: rgba(144, 164, 174, 0.7) !important;
}