#head{
    padding-top: 2%;
}

.inicio{
    font-size: 18px;
    color: #43464d;
    padding: 20px;
    line-height: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
}

.campos{
    padding-left: 20%;
}

.campos input{
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    color: #43464d;
    height: 30%;
    width: 200%
}