
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #43464d;
}
table{
    width:60%;
    table-layout:fixed;
}
#azul{
    height: 8px;
    width: 33%;
    background: blue;
    left: 0%;
    position: absolute;
    }
#blanco{
    height: 8px;
    width: 33%;
    background: white;
    left: 33%;
    position: absolute;
    }
#plomo{
    height: 8px;
    width: 34%;
    background: gray;
    left: 66%;
    position: absolute;
    }
#head{
    padding-top: 2%;
}

.inicio{
    font-size: 16px;
    color: #43464d;
    padding: 20px;
    line-height: 1.5em;
    margin:0 auto;
    width: 65%;
}

.campo{
    border: 2px solid #d2d2d6;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    color: #43464d;
    height: auto;
    width: auto;
}

.campo:focus{
    outline: none;
    border: 2px solid black;
}

.campos input{
    border: 2px solid #d2d2d6;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    color: #43464d;
    height: 40%;
    width: 150%
}

.campos input{
    border: 2px solid #d2d2d6;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    color: #43464d;
    height: 40%;
    width: 150%
}
.campos input:focus{
    outline: none;
    border: 2px solid black;
}
.input-radio{
    display: inline-block;
    width:100%;
}
input[type=radio] {
    display: none;
}
input[type=radio] + label{
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align:left;
    transition: 0.2s;
    width: 100%;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    background: #f3f5f6;
    border-color: #f3f5f6;
  }

  input[type=radio]:checked + label{
    background:#2e393f;
    border-color:#030404;
    color:white;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    width:100%;
  }
  input[type=checkbox] {
    display: none;
}

    input[type=checkbox] + label {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align:left;
    transition: 0.2s;
    width: 100%;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    background: #f3f5f6;
    border-color: #f3f5f6;
  }

  input[type=checkbox]:checked + label {
    background:#2e393f;
    border-color:#030404;
    color:white;
    font-family: Grotesque,Arial,sans-serif;
    font-size: 16px;
    width:100%;
  }
  .boton{
    display:inline;

  }
  #next, #previous{
    color:white;
    background-color:#2e393f;
    border: #030404;
    border-radius: 5px;
    width: 20%;
    text-decoration:none;
  }
  #resultado{
    color:white;
    background-color: #203c4b;
    border: #203c4b;
    border-radius: 5px;
    width: 20%;
  }
.containerimgs{
    widht: 100px;
    height: 400px;
}
  #rectangulo{
    width: 100px;
    height: 400px;
    border:1px solid #000;
    background:linear-gradient(green 25%, yellow 25% 50%, orange 50% 75%, red 75% 100%);
  }

  #triangulo{
    width: 0px;
    height: 0px;
	border-top: 20px solid transparent;
	border-left: 30px solid #555;
	/*Maximo margin-bottom 380px*/
	/*Minimo margin-bottom -19px*/
	margin-bottom: -19px;
}
#rectangulo, #triangulo{
    display:inline-block;
}
.bordes{
		border: 1px solid;
		height: auto;
		width: 300px;
}

.pagina{
    text-align:center;
    margin-left: 40%;
    border: 1px solid green;
    width:20%;
    color: white;
    background-color:#2e393f;
    border-radius: 10px 10px 10px 10px;
}